
/*fonts section included by Juhi*/

@font-face{
  font-family: 'SourceSansPro-regular';
  src:url('../fonts/SourceSansPro-Regular.otf') format('truetype');
}
@font-face{
  font-family: 'SourceSansPro-semibold';
  src:url('../fonts/SourceSansPro-Semibold.otf') format('truetype');
}
@font-face{
  font-family: 'NotoSansBengali-Bold';
  src:url('../fonts/NotoSansBengali-Bold.ttf') format('truetype');
}
@font-face{
  font-family: 'NotoSansBengali-Regular';
  src:url('../fonts/NotoSansBengali-Regular.ttf') format('truetype');
}


body, h1, h2, h5, h4, h5, h6, ul, ol, li, p {
	margin: 0;
	padding: 0;
}
img{border: 0;}
.padding-0{
	padding: 0;
}
a{
  cursor: pointer;
}
.text-align-center{
	text-align: center;
}
.bg-color{
	background: #F5F3F4;
  border-bottom: 1px solid #EAEAEA;

}
/*-------top social menu------*/
ul.top-social-menu {
    list-style-type: none;
    text-align: left;
    float: left;
    padding: 8px 0px;
}
ul.top-social-menu li {
    display: inline-block;
    margin-right: 10px;
}

ul.top-social-menu li a {
    display: block;
    width: 35px;
    height: 35px;
    background: #BCBDBF;
    text-align: center;
    border-radius: 100%;
    color: #fff;
}
ul.top-social-menu li a i {
    margin-top: 10px;
    margin-top: 10px;
}
ul.register-menu {
    list-style-type: none;
}
ul.register-menu li {
    display: inline-block;
}
ul.register-menu li a {
    display: block;
    width: 91px;
    /* background: #27AE61; */
    text-align: center;
    color: #828282;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
ul.register-menu li a:hover{
  background:#27AE61;
  color:#fff;
  text-decoration: none;
}
ul.top-social-menu li a:hover {
    background: #26AD61;
}
 /*-------end here------------*/

 /*custom navbar starts here*/
 .custom-navbar .navbar-inverse{
 	background: transparent;
 	border: 0;
 }
  .custom-navbar .navbar-right li a img{
  	background: #BBBCBE;
  	border-radius: 100%;
  	border:4px solid #EDEEF0;
  	width: 50px;
  	height: 50px;
    margin: 0 auto;
    display: block;
}

.custom-navbar .navbar-right li a img:hover{
	background: #38BE4B;
	border:4px solid #15A823;
}
.custom-navbar .navbar-right li a:hover span{
  color: #9d9d9d;
}
 .custom-navbar .navbar-right li{
 	text-align: left;
 	text-transform: uppercase;
 	font-family: 'Open Sans', sans-serif;
 	color: #7d7d7d;
 	margin-right: 10px;
 	font-size: 13px;

 }
 /*.custom-navbar .navbar-right li a{
 	padding-top: 30px;
 	padding-bottom: 0px;
 }*/
 .custom-navbar .navbar-brand{
 	padding: 40px 15px;
 }
 /*custom navbar ends here*/

 /*hall booking menu starts here*/
 ul.submenu
 {
 	list-style-type: none;
 	padding-top: 15px;
 	padding-bottom: 15px;
 }
 ul.submenu li{
 	display: inline-block;
 }
 ul.submenu li{
 	border-right: 1px solid #fff;
 }
 ul.submenu li:last-child{
 	border: none;
 }
  ul.submenu li a:link,  ul.submenu li a:visited{
  	display: block;
  	margin-right: 10px;
  	color: #fff;
  	text-align: center;
  	padding-right: 10px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  ul.submenu li a:hover{
    text-decoration: none;
  }
 .bg-color-submenu{
  background: radial-gradient(whitesmoke 1%, transparent 1%) 0 0, radial-gradient(whitesmoke 1%, transparent 1%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.10) 1%, transparent 20%) 0 15px, radial-gradient(rgba(255, 255, 255, 0.10) 1%, transparent 20%) 8px 20px;
  background-color: #27ae60;
  background-size: 16px 16px;

 }
 .search-bar .input-group{
 	
 	margin-left: 80px;
 	margin-top: 10px;
 }
.categories-points > ul {
  padding: 10px 0;
  list-style: none;
}
.categories-points > ul > li{
  padding: 0px 8%;
  position: relative;
  color: #777;
  font-family: 'Open Sans', sans-serif;
}
.categories-points > ul > li:before {
  content: "• ";
  color: #27AE61;
  position: absolute;
  top: 0px;
  left: 30px;
}
.categories-points > ul > p{
  text-align: left;
  color: #28ac3f;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}
.categories-points > h1 {
  text-align: left;
  color: #28ac3f;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}
.categories-points > p{
  font-size: 13px;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}
.content-section > p {
  font-size: 13px;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}
 .search-box .input-group-btn .btn-default{
 	  background: #464845;  
 }
 .search-box .input-group-btn .btn{
  border:none;
  border-radius:0;
 }
.search-box .input-group-btn .btn-default .glyphicon{
  color:#fff;
}
.search-box .form-control{
  height: 32px;
  border-radius: 0;
}
.house_details{
  font-size: 16px;
  color: #123456;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  float: left;
}
.house_details > div{
    box-shadow: 0px 0px 10px 0px #888;
    float: left;
    padding: 10px 0px;
    margin-bottom: 10px;
    width: 100%;
}

/*--------slider starts here---------*/

#main-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}
.custom-slider ol.carousel-indicators li{
    background-color: #B5B5B5;
    border: none;
}
.custom-slider ol.carousel-indicators .active{
    background-color: #27ae60;
    border: none;
}
.custom-slider .carousel-caption{
  text-align: left;
  top: 15%;
  left:5% !important;
}
.custom-slider .carousel-caption h3{
  font-family: 'Montserrat', sans-serif;
  text-shadow: none;
}
.custom-slider .carousel-caption h3:after{
  background-color: #fff;
  width:25px;
}
.custom-slider .carousel-caption p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 45px;
  line-height: 60px;
  text-shadow: none;
}
.custom-slider .carousel-caption p:nth-child(4) {
    font-size: 22px;
    line-height: 45px;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.custom-slider .carousel-caption a {
    color: white;
    background: #38BE4B;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 17px; 
    margin-top: 13px;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
}
.custom-slider .carousel-caption a:hover{
  text-decoration: none;
}
.cha-desk-bgcolor{
  background: #f3f3f3;
}
.mrgn-top{
  margin-top: 60px;
}
.mrgn-bottom{
  margin-bottom: 30px;
}
.carousel-custom-inner .item img{
  width: 100%;
  max-height: 500px;
}
/*----------chairman block------*/
.chairman-main{
    margin-top: 35px;
    width: 100%;
    float: left;
}
.chairman-main > p{
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.chairman-inner-section{
  width: 100%;
  float: left;
  background-color: #f7f7f7;
  color: #464646;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}
.chairman-img-back > img{
  border-radius: 3px 0px 0px 3px;
  max-height: 285px; 
}
.chairman-info-panel p:first-child{
  font-weight: bold;
  padding: 14px 0px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.chairman-info-panel p:nth-child(2){
  font-weight: normal;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  padding-right: 25px;
}
.learn-more{
  background: #27AE61;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  border-radius: 0px;
  font-family: 'Open Sans',sans-serif;
}
.learn-more:hover{
  color: #fff;
  text-decoration: none;
}
.other-option-section{
  width: 100%;
  float: left;
  margin-top: 35px;
}
.other-option-section > p{
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.add-border-top-border-none button{
  border: 0;
    background: #38BE4B;
    color: #fff;
     width: 100px;
    height: 30px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.block1-bg-img{
  background-image: url('img/recent-work-images-1.jpg');
  background-repeat: no-repeat;
  
  height: 150px;
}
.position{
  position: relative;
  overflow: hidden;
}

.margin-right{
  margin-right: 20px;
}
ul.blocks{
  list-style-type: none;
}
ul.blocks li{
  display:inline-block;
}
.section{
  position: relative;
}
.section img{
  position: relative;
}
.section p{
   position: absolute;
    background: yellow;
    top: 58%;
    width: 100%;
}
/* cha section*/
.cha-sec p{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 18px;
}
.cha-txt p{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
}
.cha-txt p:nth-child(2){
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
    padding-right: 29px;
    margin-bottom: 23px;
}
.add-bg-color{
  background: #F6F6F6;
  min-height: 289px;
}
.col-sm-7.cha-txt.add-bg-color.padding-0 a {
  background: #27AE61;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}
.other-options p{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 18px;
}
.recent-right-panel{
  margin-top: 30px;
  width: 100%;
  float: left;
}
.recent-right-panel h6{
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans',san-serif;
  margin-bottom: 20px;
}
/*tab menu*/
.tabpanel-news{
  width: 100%;
  float: left;
  padding: 23px;
}

.tab-menu-section >li>a{
    padding: 8px 34px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    border-radius:0;
}
.tab-menu-section>li>a>i{
  padding-right: 5px;
}

.tabs-section-jh{
  width: 100%;
  float: left;
  border: 1px solid #ddd;
}

.tab-menu-section>li.active>a, .tab-menu-section>li.active>a:focus, .tab-menu-section>li.active>a:hover{
  color: #000;
  border-top: 3px solid #15A823;
}

.tabpanel-news > p{
    padding: 6px 0px;
    font-size: 18px;
    font-family: 'Open Sans',serif;
    font-weight: bold;
}

.tabpanel-news > p:nth-child(2){
    font-size: 13px;
    font-family: 'Open Sans',serif;
    font-weight: normal;
}
.tab-menu-section .nav-tabs li a i{
  margin-right: 5px;
  color: #27AE61;
  font-size: 16px;
}
.tab-menu-section .nav-tabs{
  background: whitesmoke;
}
.recent-works-main{
  width: 100%;
  float: left;
  margin-top: 30px;
}
.recent-works-main > h6{
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans',san-serif;
  margin-bottom: 20px;
}
#recent-works .owl-controls .owl-pagination{
  display: none;
}
#recent-works .owl-controls .owl-buttons .owl-prev{
  border-radius: 5px;
  background-color: #5bc0de;
  opacity: 1;
}
#recent-works .owl-controls .owl-buttons .owl-prev > i,#recent-works .owl-controls .owl-buttons .owl-next > i{
  font-size: 18px;
}
#recent-works .owl-controls .owl-buttons .owl-next{
  border-radius: 5px;
  background-color: #5bc0de;
  opacity: 1;
}

#recent-works .owl-controls .owl-buttons .owl-prev{
  position: absolute;
  top: -50px;
  left: 37%;
}
#recent-works .owl-controls .owl-buttons .owl-next{
  position: absolute;
  top: -50px;
  right: 37%;
}

#gallery-section .owl-controls .owl-pagination{
  display: none;
}
#gallery-section .owl-controls .owl-buttons .owl-prev{
  border-radius: 5px;
  background-color: #5bc0de;
  opacity: 1;
}
#gallery-section .owl-controls .owl-buttons .owl-prev > i,#gallery-section .owl-controls .owl-buttons .owl-next > i{
  font-size: 18px;
}
#gallery-section .owl-controls .owl-buttons .owl-next{
  border-radius: 5px;
  background-color: #5bc0de;
  opacity: 1;
}

#gallery-section .owl-controls .owl-buttons .owl-prev{
  position: absolute;
  top: -50px;
  left: 20%;
}
#gallery-section .owl-controls .owl-buttons .owl-next{
  position: absolute;
  top: -50px;
  right: 20%;
}
#gallery-section .item{
    display: block;
    width: 100%;
    height: auto;
}
/*block section*/

#recent-works .item{
    display: block;
    width: 100%;
    height: auto;
}

.blck1-p-sec{
  min-height: 214px;
  margin-bottom: 15px;
}
.block1 .blck1-p-sec p:nth-child(1){
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.block1 .blck1-p-sec p:nth-child(2) {
    text-align: center;
    font-size: 12px;
    padding-left: 10px;
    line-height: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.block-bg-color{
  background:#f2f2f2;
  border: 1px solid #DCD8D8;
  border-radius: 4px;
  text-align: center;
}
.block-bg-color > img {
  max-height: 170px;
  width: 100%;
}
.block1 .blck1-p-sec a {
    background: #5bc0de;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    
}
.block1 .blck1-p-sec a:hover{
  text-decoration: none;
}
ul.block-images{
  list-style-type: none;
  width: 100%;
}
ul.block-images li{
  display: inline-block;
  width: 31.333%;
}
.position:hover .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background:rgba(39, 174, 97, 0.46);;
}
.zoom-icon{
  position: absolute;
  top: 30px;
  left: 23px;
  z-index: 9;
  background-color: rgba(128, 128, 128, 0.42);
  border-radius: 50%;
  visibility: hidden;
  padding: 10px;
}
.zoom-icon i{
  color: #fff;
  font-size: 18px;
}
.position:hover .zoom-icon{
  visibility: visible;
}
  /*----------------gis map-------*/
  .gis-map p{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 17px;
  }
  #map-main-page{
    cursor: pointer;
    width: 100%;
  }
   #map {
        width: 100%;
        height: 600px;
        pointer-events: none;
      }
  }
 /*------------blog list--------------*/
 .blog-list{
  list-style-type: none;
 }
 .blog-style{
  list-style-type: none;
 }
 .imgwrapper{
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 66px;
    margin-bottom: 20px;
 }
 .ft1 {
    float: left !important;
}
.content{
  height: 100px;
  margin-left: 100px;
}
.content p:nth-child(1){
  font-family: 'Open Sans', sans-serif;
}
.content p:nth-child(1):active,.content p:nth-child(1):focus,.content p:nth-child(1):visited{
  color: #609;
}
.content p:nth-child(2){
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 10px;
}
ul.blog-list li a {
    color: #000;
}
ul.blog-list li a:hover{
  text-decoration: none;
}

.imgwrapper.ft1 img {
    border: 0px solid #27AE61;
}
.complaint-box{
  background: #27AE61;
  height: 240px;
  text-align: center;
}
.complaint-box p{
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   color: #fff;
   font-size: 25px;
   text-align: center;
}
.complaint-box img{
  padding-top: 38px;
  padding-bottom: 14px;
}
/*--------footer --------*/
.footer-background{
  background: #000;
  padding-top: 30px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-image: url(../img/footer_background.jpg);
  width: 100%;
  background-size: cover;
  height: auto;
}
.info p{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 17px;
  text-align:center;
  text-transform: uppercase;
}
ul.footer-menu-left {
  list-style-type: none;
}
ul.footer-menu-left li a {
    color: #9B9B9B;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
}
ul.footer-menu-left li {
    margin-bottom: 12px;
}/*
.menu-left-section{
  padding-left: 12%;
}
.menu-right-section{
  padding-left: 32%;
}*/
.footer-menu-right{
  padding-left: 15%;
}
/*news letter section*/
.new-letter-section{

}
.newsletterp p{
  margin-top: 20px;
  margin-bottom: 25px;
}
.newsletterp input[type="text"]{
    width: 70%;
    height: 35px;
    border: none;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.newsletterp input[type="button"]{
    background: #5bc0de;
    border: none;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.twitter p{
  margin-top: 20px;
}
.small-border{
  border-top: 2px solid #27AE61;
  width: 5%;
  margin: 0 auto;
  margin-top: -13px;
  margin-bottom: 10px;
}
.copyright{
  background: #000;
  width: 100%;
  float: left;
  position: relative;
}
.copyright p{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#27AE61;
  font-family: 'Open Sans', sans-serif;
}
.powered-section{
  position: absolute;
  right: 25px;
}
.vyrazu {
  color: #fff;
}
.vyrazu:hover,.vyrazu:active {
  color: #27AE61;
  text-decoration: none;
}
/*------breadcrum------------*/

.custombreadcrum .breadcrumb > li + li:before {
   color: #CCCCCC;
   content: ">";
   padding: 0 5px;
}
.custombreadcrum .breadcrumb > li > a{
  font-family: 'Open Sans', sans-serif;
  color: #27AE60;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-size: 12px;
}
.custombreadcrum .breadcrumb{
  background: transparent;
  margin-bottom: 0;
  padding: 8px 20px;
}
.breadcrum-border{
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-menu{
    background: #f7f7f7;
    padding: 0;
    border: 1px solid #c9cacc;
    border-radius: 3px;
}

/*Auth:Juhi Agarwal*/

.left-menu p{
    background: #27AE61;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px 2px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.left-options{
    padding: 1px 0px 10px 0px;
    list-style: none;
}
.submenu-active {
  background-color: rgba(145, 145, 145, 0.34);
}
.left-options > li:before {
    /*content: "• ";*/
    color: #27AE61;
    position: absolute; 
    top: 5px;
}
.left-options > li:hover{
  background-color: #28ac3f;
}
.left-options > li:hover > a{
  color: #fff;
}
.left-options > li:hover::before{
  color: #fff;
}

.left-options > li{
  padding: 0px 8%;
  position: relative;
  color: #777;
}
.left-options > li > a{
  color: #777;
  padding: 7px 18px;
  display: block;
  font-family: 'Open Sans', sans-serif;
}
.left-options > li > a:hover{
  color: #fff;
  text-decoration: none;
}
.footer-jh{
  margin-top:20px; 
}
.date-profile{
  background-color: #f7f7f7;
  margin-right: 15px;
  padding: 16px;
  float: left;
}
.date-profile > p{
  text-align: right;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #777;
}
.hits-section{
  border-top: 2px solid #27AE5C;
  margin-top: 6px;
}
.fa-eye-custom{
  color: #777;
  padding-right: 5px;
}
.hits-section > p{
    color: #28ac3f;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.welcome-content{
    width: 100%;
    float: left;
    padding: 15px;
}
.welcome-content > h2{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #28ac3f;
    font-family: 'Montserrat', sans-serif;
}
.welcome-content > p{
    font-size: 13px;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}
.hall-booking-main{
  width: 100%;
  float: left;
}
.hall-header{
  padding: 10px;
  text-align: center;
}
.hall-header > p{
  font-size: 18px;
  color: #27ae61;
  font-family: 'Montserrat', sans-serif;
}
.fa-university-custom{
  border-radius: 50%;
  background-color: #27ae61;
  color: #fff;
  padding: 7px;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
  margin-left: 0px;
}
.hall-content > h6{
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
.hall-content > p{
  text-align: left;
  font-size: 13px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}
.recent-news > h6{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.recent-news > p{
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.recent-main{
    width: 100%;
    float: left;
    padding: 12px 0px;
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
}
.newspaper-right input[type="text"]{
  width: 100%;
  border: 1px solid #ccc;
}
.complain-content{
  width: 100%;
  float: left;
  padding: 40px;
  background-color: #28ac3f;
  cursor: pointer;
}
.complain-content > h6{
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 25px 0px;
}
.recent-bottom{
  border-bottom: none;
}
.house_gallery .item{
  margin: 3px;
}
.house_gallery .item img{
  display: block;
  width: 100%;
  height: auto;
}
.house_gallery .owl-controls .owl-buttons{
  display: none;
}
.house_gallery .owl-controls .owl-page span{
  background: #28AC3F;
}

/*
about-municipality-profile*/
.page-subhead{
  margin-bottom: 5px!important;
  text-decoration: underline;
  color: #0158BD!important;
}

/*present-municipality-board*/

.table-municipality-custom{
  background-color: #f7f7f7;
}

.table-municipality-custom > thead > tr > th{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.table-municipality-custom > tbody > tr > th,.table-municipality-custom > tbody > tr > td{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.table-municipality-custom > tbody > tr > td:nth-child(3){
  text-align: left;
}

/*recruitment page*/

.table-recruitment > thead > tr > th{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:#0158BD;
}

.table-recruitment > tbody > tr > td{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.table-recruitment > tbody > tr > td > a{
  color: #333;
}

.table-recruitment > tbody > tr > td > a:hover{
  color: #27AE61;
  text-decoration: none;
}

/*town map*/
#town-maps .item img{
    display: block;
    width: 100%;
    height: 393px;
}
.town-title{
  margin-top: 20px;
  margin-bottom: 10px;
  color: #1063C1;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
#town-maps .owl-controls .owl-buttons{
  display: none;
}
#town-maps .owl-controls{
  margin: 0;
  text-align: center;
}

#town-maps .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
}
#town-maps .owl-controls .owl-page span {
  display: block;
  font-family: monospace;
  line-height: 1.0;
  width: 20px;
  height: 20px;
  color: #d4d4d4;
  text-transform: uppercase;
}
#town-maps .owl-controls .owl-page.active span {
  color: #333333;
  padding-top: 3px;
}

/*about ward information*/
#happy-moments .item{
    margin: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#happy-moments-2 .item{
    margin: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#happy-moments-2 .item img{
  display: block;
  width: 100%;
  height: auto;
}
#happy-moments-2 .synced .item{
  background: #0c83e7;
}

/*sonar-market*/
.address-market{
  width: 100%;
  float: left;
  background-color: aliceblue;
  padding: 25px;
}
.address-market > p{
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #757575;
}
.btn-download{
  background-color: #28AC3F;
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}


/*recruitment forms*/

/*26-02-2015*/

.recruitment-forms{
  padding: 25px;
  background-color: #f7f7f7;
}
.recruitment-header > p{
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.recruitment-forms > h1{
  font-size: 18px;
  text-align: center;
  color: #0158BD;
  margin-bottom: 20px;
  text-decoration: underline;
}
.recruitment-header > p:nth-child(2){
  text-align: center;
  text-decoration: underline;
}
.table-recruitment-form > thead > tr > th{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.table-recruitment-form > tbody > tr > td{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.recruitment-footer > p{
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.recruitment-footer > p:nth-child(2){
  margin-bottom: 0px;
}
.recruitment-profoma > p{
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.recruitment-buttons{
  padding: 25px 0px;
}


/*navbar section dropdown*/
.navbar-jh-dropdown{
  background-color: rgba(0,0,0,.8);
  border-right:none;
  border-left:none;
  border-bottom:none;
  position: absolute;
  right: 0px;
  width: 500px;
  padding: 10px 0px;
  z-index: 9;
  border-top: 5px solid #27AE61;
  display: none;
  -webkit-animation: slide-down 1s ease-out;
  -moz-animation: slide-down 1s ease-out;
}
.navbar-jh-dropdown > ul{
  list-style: none;
}
.navbar-jh-dropdown > ul > li{
  text-align: left;
  text-transform: capitalize!important;
  padding: 5px;
  margin-right: 0px!important;
  position: relative;
  padding-left: 18px;
}
.navbar-jh-dropdown > ul > li:hover a{
  color:#fff;
  text-decoration: none;
}
.navbar-jh-dropdown > ul > li > a{
  color: #fff;
  padding-bottom: 0px;/*
  border-bottom: 1px solid #fff;*/
}
.navbar-jh-dropdown > ul > li > a > i{
  padding-right: 10px;
  position: absolute;
  left: 0px;
  top: 7px;
}
.tabpanel-news > ul {
  list-style: none;
  padding: 0;
}
.tabpanel-news > ul > li {
  padding-left: 1.3em;
}
.tabpanel-news > ul > li:before {
  content: "\f192"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.tabpanel-news > ul > li > a {
  color: #000;
  font-weight: normal;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.tabpanel-news > ul > li:hover > a{
  color: #0158BD;
}
.tab-news-parent{
  height: 245px;
  overflow: hidden;
}
.custom-navbar .navbar-right li:hover .navbar-jh-dropdown{
  display: block;
  -webkit-animation: slide-down 1s ease-out;
  -moz-animation: slide-down 1s ease-out;
}
@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(0); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(0); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}

/*login page*/
.login-header{
  margin-top: 10px;
  margin-bottom: 40px;
}
.login-header h1{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  color: #6b7b8a;
  text-align: center;
}
.login-details{
  width: 100%;
  float: left;
  padding: 25px;
  background-color: #f7f7f7;
  border-top: 3px solid #27AE60;
  box-shadow: 1px 1px 3px 0px #c9cacc;
}
.login-left-panel{
  width: 65%;
  margin: 0px auto;
}
.login-info > h6{
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'SourceSansPro-semibold';
  color: #28ae3f;
}
.login-info > p{
  font-size: 16px;
  color: #353535;
  font-family: 'Open Sans', sans-serif;
}
.login-info-bengali h4{
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'NotoSansBengali-Bold';
  color: #28ae3f;
  text-decoration: underline;
}

.login-info-bengali h6{
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'NotoSansBengali-Bold';
  color: #28ae3f;
}

.login-info-bengali p{
  font-size: 18px;
  color: #353535;
  font-family: 'NotoSansBengali-Regular';
}
.login-custom-form label{
  font-size: 14px;
  font-family: 'Open Sans';
  color: #6b7b8a;
  text-transform: uppercase;
}
.login-custom-form label > span{
  color: #28ae3f;
  font-family: 'NotoSansBengali-Regular';
}
.login-custom-form input{
  height: 50px;
}
.social-links{
  border-top: 1px solid #28ae3f;
  width: 100%;
  float: left;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.social-links > p{
  font-size: 18px;
  width: 30%;
  text-align: center;
  background-color: #f7f7f7;
  padding: 10px;
  margin: -23px auto;
  font-family: 'Open Sans', sans-serif;
}
.social-links > .fa-custom-f{
  border-radius: 50%;
  background-color: #3b5998;
  padding: 9px 14px;
  font-size: 20px;
  color: #fff;
  margin-top: 25px;
  cursor: pointer;
}
.social-links > .fa-custom-g{
  border-radius: 50%;
  background-color: #db3236;
  padding: 10px 8px;
  font-size: 20px;
  color: #fff;
  margin-top: 25px;
  cursor: pointer;
}
.btn-login{
  font-size: 22px;
  color: #fff;
  font-family: 'SourceSansPro-semibold';
  background-color: #5bc0de;
  text-transform: uppercase;
  padding: 10px 25px;
}
.login-header > p{
  color: #6b7b8a;
  font-family: 'SourceSansPro-semibold';
  font-size: 13px;
  text-align: center;
}

/*signup page*/

.check-register{
  height: auto!important;
}
.check-text{
  text-transform: none!important;
}
.input-section-register{
  border: 1px dashed #ccc;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  float: left;
}
.drag-text{
  color: #6b7b8a;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#upload-img{
  width: 35%;
  margin: 0 auto;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer {
    background: #5bc0de;
    padding: .5em;
    width: 50%;
    text-align: center;
    margin: 5px 25%;
    color: #fff!important;
}

.fileContainer [type=file] {
    cursor: pointer;
}

/*gis maps*/
.gis-select-map{
  width: 30%;
  margin: 0px auto;
}
select#gis-option, select#gis-option-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(../img/gis_drop_down.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 100% center;
   background-repeat: no-repeat;
   border: 1px solid #f4f4f4;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   text-transform: capitalize;
}

select#gis-option-color {
   color: #fff;
   background-image: url(../img/gis_drop_down.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}
select#gis-option-color option {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px; 
}
.table-category-participants{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.category-people{
  font-family: 'SourceSansPro-semibold';
  font-size: 18px;
  color: #0158BD;
  text-align: center;
}
/*
people participation area*/

.download-form{
  width: 100%;
  float: left;
  margin-top: 25px;
}
.download-prize-participant > td{
  text-align: center;
  cursor: pointer;
}
.fa-people-download{
  border-radius: 50%;
  background-color: #0158BD;
  padding: 10px;
  color: #fff;
}

/*sc-engagement page*/
.welcome-profile > h1{
  color: #0158BD;
  font-family: 'SourceSansPro-semibold';
  font-size: 26px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.engagement-content{
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
}
.engagement-content > p{
  margin-top: 25px;
}
/*panel smart city mission*/
.panel-mission{
  border-color: #27AE61;
}
.panel-mission>.panel-heading{
  color: #fff;
  background-color: #0158bd;
  font-family: 'SourceSansPro-semibold';
}
.panel-mission > .panel-collapse > .panel-body{
  background-color: #f7f7f7;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

/*talk show*/
.meeting-sections img{
  margin-top: 10px;
  margin-bottom: 10px;
}

/*consul general*/
.owl-consul{
  width: 100%;
  float: left;
  padding: 25px; 
}

/*public grievance*/
.form-grievance{
  width: 100%;
  float: left;
  margin-top: 20px;
}
.public-grievance{
  margin-top: 20px;
}
.form-grievance label{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #6b7b8a;
  text-transform: uppercase;
}
.form-grievance label > span{
  color: #28ae3f;
  font-family: 'NotoSansBengali-Regular';
}
.form-grievance input,.form-grievance select{
  height: 50px;
}
.text-red{
  color: #FF0000!important;
}  
.img-captcha{
  width: 100%;
}
/*citizen-charter*/
.table-charter-custom{
  background-color: #f7f7f7;
}
.table-charter-custom > thead {
  background-color: #27ae61;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.table-charter-custom > tbody {
  font-family: 'Open Sans', sans-serif;
}
.table-charter-custom > tbody > tr > th {
  color: #0158bd;
  background-color: #BCBDBF;
}
.clearboth{
  clear: both;
}
.newsletterp{
  margin-bottom: 15px;
}
.add-margin{
  margin-left: 15px;
  margin-right: 15px;
}
.citz-charter-details  > p {
  background-color: #27ae61;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  padding: 10px;
  border-right: 1px solid #fff;
}
/*contact us*/
.contact-header{
  text-decoration: underline;
  margin-bottom: 10px!important;
  margin-top: 20px!important;
}
/*accounts department*/
.account-structure{
  overflow: hidden;
}
.account-structure > img {
  width: 100%;
}

/*tab filter section of the present municipal board page by
Auth:Raju*/
/*tab filteration section*/

ul.tab-filter-menu{
  list-style-type: none;
  width: 100%;
  border: 1px solid #eaeaea;
  background: #F5F5F5;
}
ul.tab-filter-menu li{
  display: inline-block;
  width: 24.7%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px solid #eaeaea;
}
ul.tab-filter-menu li:last-child{
  border-right: none;
}
#filters li span.active-tab{
  background: #28AC3F;
  color: #fff;
}
.mid-secton{
  width: 100%;
  margin:0 auto;
  height: auto;
}
.member-wrapper img{
  display: block;
  margin:0 auto;
  border-radius: 50%;
  border:2px solid #27AE60;
}
.ad-top-margin{
  margin-top: 25px;
}
.text-block-sec p{text-align: center;}
.text-block-sec p:first-child {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #27AE60;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.text-block-sec p:nth-child(2) {
    text-align: center;
    text-transform:capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  p.text-format {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}
.text-block-sec p:nth-child(4){
  margin-bottom: 10px;
} 
.text-block-sec1 p{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.text-block-sec1 p:first-child {
    color: #27AE60;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 15px;
}
.text-block-sec1 p:nth-child(2) {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
   
    text-transform: capitalize;
    font-size: 15px;
}
.text-block-sec1 p:nth-child(3){
  margin-top: 10px;
}

.text-block-sec1 p:nth-child(4){
  margin-bottom: 10px;
}
.member-wrapper{
  margin-top: 40px;
  margin-bottom: 40px;
}
.add-border-margin{
  border:1px solid #eaeaea;
  margin-top: 20px;
}
.member-wrapper{
  overflow:hidden;
    position: relative !important;
  }
  ul.simplefilter{
    width: 100%;
    background: #f5f5f5;
  }

  ul.simplefilter li{
   width: 19.7%;
   text-align: center;
   background:#f5f5f5;
   color: #000;
   font-family: 'Open Sans', sans-serif;
   font-weight: bolder;
   font-size: 13px;
  }
  .simplefilter li.active{
    background:#27AE60 !important;
    color:#fff;
    font-weight: bolder;
  }
  .simplefilter li{
    border-right: 1px solid #eaeaea;
  }
  .simplefilter li:last-child{
    border-right: none;
  }
  
  .add-border{
     border:1px solid #f5f5f5;
    margin-top: 20px;
  }

/*=========================*/

/*Auth:Raju*/

/*====apply form section*/
.apply-job p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
  text-transform: capitalize;
  font-size: 34px;
  color: #6B7B8A;
  margin-bottom: 20px;
}
.add-background-color{
  background:#F1F1F1;
  padding-top: 15px;
  padding-bottom:80px;
  border-top: 4px solid #27AE61;
}
.target-p p {
  text-align: left;
  font-size: 16px;
  padding-left: 2px;
  margin-bottom: 7px;
  text-transform: uppercase;
  margin-top: 7px;
  color:#6B7B8A;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.target-p p span{
  margin-left: 4px;
  color:#28AC3E;
  font-family: 'Open Sans', sans-serif;
}
.custom-form-control{
  height: 45px;
  border: 1px solid #8dc6cd;
  font-family: 'Open Sans', sans-serif;
}
.sel-exp{
    background: #EEF8F7;
    border: 1px solid #BEDCDE;
    border-radius: 4px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    width: 85px;
    background: url(../img/dropdown.png) no-repeat right;
    -webkit-appearance: none; 
    text-transform: capitalize;
}
.add-mre-detail p:nth-child(3){
  color: #27ae60;
  margin-top: 15px;
  margin-bottom: 24px;
  cursor: pointer;
 }
.add-mre-detail p span{
   margin-right: 5px;
}
.functional-area{
  background: #fff;
  width: 100%;
  border-radius: 4px;
  height: 45px;
  color:#C5CACE;
  border: 1px solid #8dc6cd;
  font-family: 'Open Sans', sans-serif;
  background: url(../img/dropdown.png) no-repeat right;
  -webkit-appearance: none;
  text-transform: capitalize;
}
.func-area p:nth-child(3){
  font-size: 13px;
  text-transform: initial;
  font-family: 'Open Sans', sans-serif;
}
.chk-box-section{
  margin-top: 40px;
}
.chk-box-section label span{
  color: #97A4AD;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
}
.chk-box-section label{
  margin-left: 60px;
  display: block;
}
.chk-box-section label input[type=checkbox]{
  position: relative;
  top: 2px;
}
.chk-box-section label:nth-child(2) p{
    display: inline;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #97A4AD;
    margin-left: 10px;
    text-transform: initial;
}
.chk-box-section label:nth-child(2) p em{
  color:#8EC4CE;
}

.cstm-btn{
  display: block;
  margin: 0 auto;
  background: #27AE61;
  width: 150px;
  border: 0;
  height: 43px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 50px;
  color: #fff;
}
.cstm-btn:hover{
  background: #27AE61;
  color: #fff;
}
.add-box-shadow{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.bg-color-select-box{
  background: #fff;
}
ul.upload-doc {
  list-style-type: none;
}
ul.upload-doc li {
    padding-left: 15px;
    margin-top: 5px;
}
ul.upload-doc li a {
  color: #696969;
  display:block;
  padding:5px 0 5px 15px;
}
.ad-mrgn-top {
  margin-top: 25px;
}
/*=====================*/

/*job description*/
  .designation{
    border: 1px solid #8C8C8C;
    margin-bottom: 60px;
  }
  .job-description{
    width: 70%;
  }
  .job-description p:first-child{
    font-size: 20px;
    font-weight: bold;
    color: #4A4848;
    text-align: left;
    padding: 50px 20px 0px 36px;
  }

  .job-description p:nth-child(n+2){
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    line-height: 35px;
    text-transform: initial;
    padding-left: 36px;
  }
  .job-description p:nth-child(3)
  {
    padding-bottom: 23px;
  }

  p.desig {
    text-align: left;
    color: #2EB065;
    font-size: 24px;
    font-weight: bold;
}
/*.apply-now-btn{
  width: 30%;
}*/
.add-mrgn-cstm-btn{
  margin-top: 63%;
}
.add-mrgn-left{
  margin-left: 11.666667%;;
}
.sales-officer p:nth-child(2){
  padding-bottom: 30px;
}
.custom-pagination .pagination>li:first-child>a{
  margin-right:15px;
  border-radius: 6px;
}
.custom-pagination .pagination>li:last-child>a{
  
  border-radius: 6px;
}
.custom-pagination .pagination>li:last-child>a:hover{
  background:#28AC3F;
  color: #fff;
}
.custom-pagination .pagination>li>a{
  margin-right: 15px;
  border-radius: 6px;
  background:#f7f7f7;
  color:#464646;
  border:1px solid #D6D6D6;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
a:hover{
  text-decoration: none;
}
input::-webkit-input-placeholder {
color: #C5CACE !important;
}
input:-moz-placeholder { /* Firefox 18- */
color: #C5CACE !important;  
}

/*news page change design section
*/

/*news block section*/
.news-design-blocks{
  background: #f6f6f6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 215px;
  display: block;
  margin: 0 auto;
  min-height: 353px;
  margin-bottom: 10px;
}
.news-design-blocks-txt{
  min-height: 200px;
}
.nulm{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.news-design-blocks-txt p:first-child{
  padding-top: 10px;
}
.news-design-blocks-txt .text-center{
  margin-top: 20px;
}
.news-design-blocks .meeting-sections img{
  width: 100%;
}
.news-design-blocks p{
  padding:0 8px 0 8px;
  color: #777;
  line-height: 20px;
  margin:10px 0 10px 0;
}

/*news block section ends here*/

/*header changes for dropdown*/
.dropdown-menu-custom{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  margin-top: 15px;
}
.dropdown-menu-custom > li {
  border-right: none!important;
}
.dropdown-menu-custom > li:hover > a {
  background-color: transparent;
}
/*nuhm*/
.nuhm-tr{
  vertical-align: middle!important;
}
/*smart city engagement*/
.smart-height .item img{
  height: auto!important;
}
/*clc*/
.font-address{
  font-size: 15px!important;
}

/*404 page*/

/*==========================*/

/*Auth:Raju*/

/*gallery-next page*/
.gallery-media-section{
  padding: 25px;
  margin-top: 25px;
  box-shadow: 0px 0px 10px #888;
}
/*cms page*/
 .tmargin {
    margin-top: 55px;
  }
  .search-name {
    font-weight: 600;
    color: #27AE61;
    font-size: 16px;
    
  }
  .search-head {
    font-size: 16px;
    font-weight: 600;
    color: #404040;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  .search-body {
    /*margin-left: 56px;*/
    padding: 20px 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    border-radius: 4px;
    margin: 0 25px;
  }
  .no-match {
    padding: 20px 15px;
    text-align: center;
    border-radius: 4px;
    margin: 0 25px;
  }
  .no-match-img {
    height: 59px;
  }


  .search-body a {
    color: #6B6868;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 13px;
    display:block;
    color: #27AE60;;
    /*padding: 5px 0 5px 10px;*/
  }
  .search-desp {
    color: #535050;
    padding-top: 3px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 9px;
    font-size: 12px;
  }
  .pdng-top-bottom {
    padding-top: 10px;
    /*padding-bottom: 10px;*/
  }

 /* sub sub menu */
.sub-left-options li {
    padding: 0px 0px 0px 20%;
    background-color: #eee;
}
.sub-left-options li a {
  padding: 5px 18px;
}

/*news letter custom css*/
#mc-embedded-subscribe {
  background-color: #5bc0de !important;
  border: none !important;
  margin-top: 20px !important;
  width: 150px !important;
  height: 35px !important;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  margin-right: auto !important;
  margin-left: auto !important;
  border-radius: 0px !important;
}
#mce-EMAIL {
  width: 70% !important;
  height: 35px;
  border: none !important;
  text-align: center;
  display: block !important;
  margin: 0 auto !important;
  border-radius: 0px !important;
}
#mc_embed_signup {
  background-color: transparent !important;
}

/*contact us*/
.contact-map iframe {
  width: 100%;
}

/*ward profile*/
#chart_ward1 div:nth-child(2) {
  width: 100% !important;
}
#chart_ward1 svg {
  width: 100% !important;
}
/* job title */
.job-titles{
  margin: 10px 0px;
  color: #27ae61;
  font-weight: 600;
}
.table-jobs{
  padding-right: 0px;
}
